@use "./libs/normalize";
@use "./libs/_variables" as v;

::-webkit-scrollbar {
  width: 6px;
  height: 3px;
  background-color: v.$gray--100;
}

html {
  font-size: 62.5%;
  background-color: #fff;
}

body {
  font-size: 1.6rem;
  overscroll-behavior-y: none;
}

::-webkit-scrollbar-thumb {
  background-color: v.$text;
  border-radius: 120em;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}